@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: hsl(216, 12%, 8%);
    justify-content: center;
    place-items: center;
    list-style: none;
}

.atribution {
    margin-top: auto;
    color: #fff;
}

a {
    text-decoration: none;
    color: rgb(79, 79, 79);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: hsl(216, 12%, 8%);
    justify-content: center;
    place-items: center;
}


.thank-you {
    color: #fff;
    font-family: "Overpass";
    font-weight: 600;
    margin-top: 3rem;
    font-size: 1.7rem;
    text-align: center;
}

p {
    font-family: "Overpass";
    font-weight: 300;
    color: hsl(217, 12%, 63%);
    margin-top: 1rem;
    text-align: center;
}

.box {
    background-color: hsl(213, 19%, 18%);
    border-radius: 30px;
    padding: 1.5rem;
    justify-content: center;
    width: 40%;
    height: 20rem;
    justify-content: center;
    text-align: center;
    margin: auto;
}

.thanks-image {
    display: flex;
    margin: 0 auto 1.5rem; 
}

.counter {
    font-family: "Overpass";
    font-weight: 300;
    color: hsl(217, 12%, 63%);
    margin-top: 1rem;
    text-align: center;
    font-size: 14px;
    color: #f76530;
    background-color: rgb(54, 54, 54);
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 100px;
}

@media (max-width: 480px) {
    .box {
        width: 90%;
        padding: 1rem;
    }

    p {
        font-size: 0.9rem;
    }
}










